:root {
  --font-color: #fff;
  --border-color: #bbb;
  --element-padding: 5px;
  --body-padding: 2rem;
  --submit-button-color:
  --submit-button-padding: 0.75rem;
  --elements-radius: 0.5rem;
  --titlebar-height: 2rem;
}

*:focus {
  outline: none;
}

.about-window {
  min-height: 100vh;
  padding: 0;

  & .about-wrapper {
    padding: 2rem;
  }

  & svg {
    width: 6.75rem;
    height: 6.75rem;
    fill: none;
    stroke: var(--font-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  padding: var(--body-padding);
  background-image: linear-gradient(to bottom, #5397be, #3a4076);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-color);
  font-family: 'Open Sans', sans-serif;
}

.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--titlebar-height);
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: pointer;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}

h1, h2, h3 {
  font-weight: 400;
}

#frontmatter-container {
  position: relative;
  background-image: linear-gradient(to bottom, #3a4076, #5397be);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
  padding: 5rem 1rem 2rem;
}

.form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  white-space: nowrap;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  border-radius: var(--elements-radius);
  background: none;
  color: var(--font-color);
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/** 
 * form styles 
 */
.frontmatter-select {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;

  &:hover .select-component-menu {
    padding: 0.5rem 0;
    opacity: 1;
    max-height: 10rem;
    transition: max-height, opacity 0.4s ease 0.3s;
  }
}

.select-component-menu {
  list-style: none;
  margin: 0.25rem 0 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--elements-radius);
  border: 1px solid var(--border-color);
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  & li {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}





#main-form {
  width: 100%;
  max-width: 30rem;
}

::placeholder {
  color: var(--font-color);
  opacity: 0.5;
  font-style: italic;
}

fieldset {
  position: relative;
  margin: 2rem 0;
  padding: 1.4rem 0.5rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--elements-radius);
}

.form-element {
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 0.75rem;

  & label {
    display: flex;
    justify-content: flex-start;
    

    & span {
      flex: 0 0 6rem;
      margin-right: 1rem;
    }

    & div {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-start;
      margin-right: 2rem;

      & *:not([type="checkbox"][role="switch"]) {
        width: 100%;
      }
    }
    
    & [type="text"],
    & textarea {
      font-family: 'Open Sans', sans-serif;
      border: none;
      border-bottom: 1px solid var(--border-color);
      background: none;
      color: var(--font-color);
      padding: var(--element-padding);
    }
  }

  &.compose {
    display: flex;
    justify-content: flex-start;

    > label {
      flex: 0 0 50%;
    }
  }
}



/**
 * A nicer looking Select Element
 */
 .select-wrapper {
  position: relative;
  color: #fff;
  
  &:after {
    position: absolute;
    top: var(--element-padding);
    right: var(--element-padding);
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" d="m20 9l-8 8l-8-8l1.414-1.414L12 14.172l6.586-6.586z"/></svg> ');
    width: 1rem;
    height: 1rem;
  }
 }

 select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color);
  cursor: pointer;
  width: 100%;
  padding: var(--element-padding);
  font-family: 'Open Sans', sans-serif;
 }

/**
 * Checkbox as Toggle Switch
 */

input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: inherit;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  vertical-align: text-bottom;
  margin-right: auto;
}

input:where([type="checkbox"][role="switch"])::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  background: currentcolor;
  opacity: 50%;
}

input:where([type="checkbox"][role="switch"]):checked::before {
  opacity: 100%;
  left: 1em;
}

input:where([type="checkbox"][role="switch"]):disabled {
  opacity: 0.4;
}
